.about {
    background: linear-gradient(180deg, hsl(0 0% 100%), hsl(180, 20%, 96%));
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-shadow: 0 2px 2px hsl(180, 20%, 96%);
}

.about__wrapper {
    max-width: 72rem;
    margin: 0 auto;
    padding-inline: 1rem;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 3rem;
}

.about__photo img {
    width: 100%;
    display: block;
    border-radius: 2rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__content__title {
    font-size: 3rem;
    margin-bottom: 24px;
}

.about__content__paragraphs p:not(:first-child) {
    margin-top: 24px;
}

.about__content__paragraphs p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}


.about__info {
    margin-top: 32px;
}

.about__info__crp {
    display: inline-block;
    background-color: #000;
    border-radius: .8rem;
    padding: .75rem 1rem;
}

.about__info__crp p {
    color: white;
    font-weight: bold;
}


@media (max-width: 600px){
    .about__grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .about__content {
        order: 1;
    }

    .about__photo {
        order: 2;
    }
}