.help {
    padding-top: 5rem;
    padding-bottom: 5rem;
    /*box-shadow: 0 2px 5px hsl(180, 12%, 89%);*/
}

.help__wrapper {
    max-width: 72rem;
    margin: 0 auto;
    padding-inline: 1rem;
}

.help__header {
    text-align: center;
    margin-bottom: 48px;
}

.help__header__title {
    font-size: 3rem;
}

.help__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
}

.card {
    border-radius: 1rem;
    border: 1px solid #ccc;
    transition: all 300ms ease-in-out;
}

.card:hover {
    border: 1px solid hsl(174 56% 42%);
    box-shadow: 0 8px 32px hsl(174 56% 42% / 0.15);
}

.card__header {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card__icon {
    display: inline-flex;
    background: linear-gradient(135deg, hsl(174 56% 42%), hsl(174 60% 55%));
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    margin-bottom: 16px;
    color: white;
}

.card__content {
    padding: 1.5rem;
    padding-top: 0;
}

@media (max-width: 600px){
    .help__cards {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}