.hero-section {
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-section__background {

    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url(assets/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.hero-section__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(255,255,255,0.48);
}

.hero-content {
    position: relative;
    z-index: 10;
    margin-inline: auto;
    padding-inline: 16px;
    padding-block: 80px;
    text-align: center;
}

.hero-content__wrapper {
    max-width: 768px;
    margin-inline: auto;
}

.hero-content__title {
    margin-bottom: 24px;
    font-size: 3rem;
}

.hero__button__primary, .hero__button__secondary{
    padding-inline: 2rem;
    height: 2.75rem;
    border: none;
    border-radius: .75rem;
    font-weight: bold;
    margin-top: 24px;
    background: linear-gradient(135deg, hsl(174 56% 42%), hsl(174 60% 55%));
    color: white;
    cursor: pointer;
}

.hero__button__secondary {
    margin-left: 16px;
}